
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#top {
    height: 105px;
    background-image: url(../images/headerbg.png);
    width: 100%;
}

#topI {
    width: 990px;
    height: 105px;
    margin: 0 auto;
    position: relative;
}
#mrs{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 132px;
    top: 37px;
    z-index: 99999;
    border: 1px solid gray;
    background: #000;
   display: none;
}
#focus {
    width: 214px;
    height: 27px;
    position: absolute;
    left: 180px;
    top: 20px;;
}

#color {
    list-style: none;
    position: absolute;
    right: 10px;
    top: 20px;;

}

#color li {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}

#nav {
    /*padding-left: 20px;*/
    height: 37px;
    width: 100%;
    background: #000000;

    position: absolute;
    bottom: 0;

}

#nav li {
    float: left;
    margin-left: 20px;
    color: white;
    line-height: 37px;
}

#middleshop {
    width: 990px;
    height: 580px;
    margin: auto;
}

#leftshop {
    height: 560px;
    width: 187px;
    border: 1px solid gray;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
#leftshop p{
    opacity: 0.5;
}

#leftshop ol {
    border-top: 2px solid saddlebrown;
    margin-left: 5px;
}

#leftshop li {
    display: inline-block;
    width: 80px;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    line-height: 20px;
    font-size: 10px;
}

#lunbotu {
    width: 550px;
    height: 321px;
    border: 1px solid gray;
    float: left;
    margin-top: 10px;
    position: relative;

}
#imgggg a{
    position: absolute;
    left: 0;
    top:0;
}

#lunbotu ol{
    position: absolute;
    bottom: 0;
}
#lunbotu li {
    background: #000;
    opacity: 0.5;
    color: white;
    display: inline-block;
    float: left;
    width: 110px;
}

#bottomshop {
    width: 780px;
    height: 230px;
    float: left;
    border: 1px solid gray;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
#bottombiaoqian{
    width: 780px;
    height: 30px;
    /*border: 1px solid grey;*/
    position: relative;
    border-bottom: 1px solid grey;
    line-height: 30px;
}
#bottombiaoqian ol{

    position: absolute;
    right: 0;
    bottom: 0;
}
#bottombiaoqian li{
    width: 40px;
    height: 25px;
    float: left;
    font-size:12px;
}
#xuanzhuan {
    width: 220px;
    height: 176px;
    float: left;
    border: 1px solid gray;
    margin-left: 10px;
    margin-top: 10px;
}

#wogaijiaoshenme {
    width: 220px;
    height: 132px;
    float: left;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 10px;
}
#wogaijiaoshenme ol{
    border-top:2px solid #cccccc;
}
#wogaijiaoshenme li{
    font-size: 12px;
    margin: 5px;
}
.image{
    width: 183px;
    height: 188px;
    border: 1px solid grey;
    float: left;
    background: #cccccc;
    margin: 5px;
    text-align: center;
}
p {
    padding: 5px;
    background: #000;
    color: #ffffff;
    font-size: 15px;

}

span {
    padding: 10px;
    font-size: 15px;
}
#footer{
    display: inline-block;
    height: 40px;
    width: 990px;
    margin:auto;
   text-align: center;
    line-height: 40px;

}
a{
   text-decoration: none ;
}
#lunbotu a{
    color: white;

}
#ddd{
    width: 200px;
    height: 20px;
    border:1px solid black;
    display: none;
    background: #00ff00;
}
#bshop{
    display: inline-block;
    width: 10000px;
    position: absolute;
 }