body{
    background:rgba(0, 0, 0, 0.6);
}
#gray{
    display: block;
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.6);
}
#lianxifangshi{
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.6);
}
#tel{
    display: table;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}
.ico{
    display: table;
    width: 30%;
    /*float: left;*/
    border-radius: 50%;
    background: rgb(50,50,50);
    margin: 0 auto;
    transition: all 1s ease;
    position: relative;

}
.ico:hover{
    background:white;
    color:white;
}
    i{
        color:#D0482B;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
}
.fangshi,.fangshi1{
    display: table-cell;
    width: 30%;
    float: left;
    text-align: center;
    position: relative;
}
.fangshi,.fangshi1{
    color: white;
}

.fangshi1{
    margin: 0 5%;
}
#form{
    display: table;
    width: 100%;
    background:#4a504f;
    padding-top: 50px;
    padding-bottom: 50px;
}
.danhang{
    display: table-cell;
    background: #4a504f;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0);
}
.duohang{
    background:#4a504f;
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    height: 80px;
}
.for{
    width: 80%;
    margin: 0 auto;
}
.send{
    margin-top: 20px;
    width: 100%;
    height: 39px;
    background: #D0482B;
    color: white;
    transition: all 1s ease;
    border: 0;
}
.send:hover{

    background:white ;
    color: #D0482B;
}
.small{
    display: none;
}
.small tr{
    width: 100%;
}
@media (max-width: 700px) {
    .small{
        display: block;
    }
    .danhang,.duohang,.send{
        width: 80%;
        margin-left: 10%}
    .send{
        width: 83%;
    }
    .for{
        display: none;
    }
}
@media (max-width: 400px) {
    .fangshi,.fangshi1{
        width: 100%;
    }
    .fangshi1{
        margin: 0;
    }
    .ico{
        width: 20%;
        float: left;
    }
    .fangshi p,.fangshi1 p{
        margin-left: 20%;
        text-align: center;
    }

}